


/* SCSS HEX */
$imperial-red: #f94144ff;
$orange-crayola: #f3722cff;
$carrot-orange: #f8961eff;
$coral: #f9844aff;
$saffron: #f9c74fff;
$pistachio: #90be6dff;
$zomp: #43aa8bff;
$dark-cyan: #4d908eff;
$paynes-gray: #577590ff;
$cerulean: #277da1ff;

/* SCSS HSL */
$imperial-red: hsla(359, 94%, 62%, 1);
$orange-crayola: hsla(21, 89%, 56%, 1);
$carrot-orange: hsla(33, 94%, 55%, 1);
$coral: hsla(20, 94%, 63%, 1);
$saffron: hsla(42, 93%, 64%, 1);
$pistachio: hsla(94, 38%, 59%, 1);
$zomp: hsla(162, 43%, 46%, 1);
$dark-cyan: hsla(178, 30%, 43%, 1);
$paynes-gray: hsla(208, 25%, 45%, 1);
$cerulean: hsla(198, 61%, 39%, 1);

/* SCSS RGB */
$imperial-red: rgba(249, 65, 68, 1);
$orange-crayola: rgba(243, 114, 44, 1);
$carrot-orange: rgba(248, 150, 30, 1);
$coral: rgba(249, 132, 74, 1);
$saffron: rgba(249, 199, 79, 1);
$pistachio: rgba(144, 190, 109, 1);
$zomp: rgba(67, 170, 139, 1);
$dark-cyan: rgba(77, 144, 142, 1);
$paynes-gray: rgba(87, 117, 144, 1);
$cerulean: rgba(39, 125, 161, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #f94144ff, #f3722cff, #f8961eff, #f9844aff, #f9c74fff, #90be6dff, #43aa8bff, #4d908eff, #577590ff, #277da1ff);
$gradient-right: linear-gradient(90deg, #f94144ff, #f3722cff, #f8961eff, #f9844aff, #f9c74fff, #90be6dff, #43aa8bff, #4d908eff, #577590ff, #277da1ff);
$gradient-bottom: linear-gradient(180deg, #f94144ff, #f3722cff, #f8961eff, #f9844aff, #f9c74fff, #90be6dff, #43aa8bff, #4d908eff, #577590ff, #277da1ff);
$gradient-left: linear-gradient(270deg, #f94144ff, #f3722cff, #f8961eff, #f9844aff, #f9c74fff, #90be6dff, #43aa8bff, #4d908eff, #577590ff, #277da1ff);
$gradient-top-right: linear-gradient(45deg, #f94144ff, #f3722cff, #f8961eff, #f9844aff, #f9c74fff, #90be6dff, #43aa8bff, #4d908eff, #577590ff, #277da1ff);
$gradient-bottom-right: linear-gradient(135deg, #f94144ff, #f3722cff, #f8961eff, #f9844aff, #f9c74fff, #90be6dff, #43aa8bff, #4d908eff, #577590ff, #277da1ff);
$gradient-top-left: linear-gradient(225deg, #f94144ff, #f3722cff, #f8961eff, #f9844aff, #f9c74fff, #90be6dff, #43aa8bff, #4d908eff, #577590ff, #277da1ff);
$gradient-bottom-left: linear-gradient(315deg, #f94144ff, #f3722cff, #f8961eff, #f9844aff, #f9c74fff, #90be6dff, #43aa8bff, #4d908eff, #577590ff, #277da1ff);
$gradient-radial: radial-gradient(#f94144ff, #f3722cff, #f8961eff, #f9844aff, #f9c74fff, #90be6dff, #43aa8bff, #4d908eff, #577590ff, #277da1ff);