:root {
  --White_: #ffffff;
  --Gray_Light: #b4b4b4;
  --Gray_: #8f8f8f;
  --Gray_Dark: #636363;
--Black_:#000;

  --Green_: #94D2BD;
  --Blue_light: #0A9396;
  --Blue_: #005F73;
  --Blue_Dark: #001219;

  --Yellow_Light: #E9D8A6;
  --Yellow_: #f0c954;
  --Orange_Light: #fdc50e;

  --Orange_: #CA6702;

  --Red_Light: #BB3E03;
  --Red_: #AE2012;
  --Red_Dark:#9B2226;
}
/* 

/* CSS HEX */
--imperial-red: #f94144ff;
--orange-crayola: #f3722cff;
--carrot-orange: #f8961eff;
--coral: #f9844aff;
--saffron: #f9c74fff;
--pistachio: #90be6dff;
--zomp: #43aa8bff;
--dark-cyan: #4d908eff;
--paynes-gray: #577590ff;
--cerulean: #277da1ff;

/* CSS HSL */
--imperial-red: hsla(359, 94%, 62%, 1);
--orange-crayola: hsla(21, 89%, 56%, 1);
--carrot-orange: hsla(33, 94%, 55%, 1);
--coral: hsla(20, 94%, 63%, 1);
--saffron: hsla(42, 93%, 64%, 1);
--pistachio: hsla(94, 38%, 59%, 1);
--zomp: hsla(162, 43%, 46%, 1);
--dark-cyan: hsla(178, 30%, 43%, 1);
--paynes-gray: hsla(208, 25%, 45%, 1);
--cerulean: hsla(198, 61%, 39%, 1);




*/